* {
  box-sizing: border-box;
  margin: 0;
}

.title,
.subtitle {
  color: #099d8d;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  padding: 30px 0 15px 0;
  text-align: center;
}
.subtitle {
  font-size: 22px;
}
.title-paragraph {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  justify-content: center;
  padding: 15px 0 30px 0;
  margin: auto;
}

.p1,
.p2 {
  color: #54585a;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin: auto;
}
.p2 {
  padding: 0 0 45px 0;
}
.tips-container {
  background-color: #f7f7f7;
  color: #54585a;
}

.NavBar {
  background-color: #099d8d;
  color: white;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
}

.titleNav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: auto;
}
