* {
  box-sizing: border-box;
  margin: 0;
}
.team-name {
  display: block;
  color: white;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #077e72;
  justify-content: center;
  opacity: 95%;
} 

.title-nav {
font-family: 'Rubik', sans-serif;
font-size: 16px;
color: white;
height: 60px;
display: flex;
align-items: center;
}

.nav-sections {
  background-color: #099D8D;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 95%;
}

.nav-sections a {
  color: white;
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header {
  height: 421px;
  background-image: url("./styles/img/img_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}
.header-section {
  background-color: #ffffff;
  margin: 0 15px 10px 15px;
  padding: 10px;
  position: relative;
  top: 280px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.team-title,
.team-subtitle {
  color: #099d8d;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  padding: 30px 0 15px 0;
  text-align: center;
}
.team-subtitle {
  font-size: 22px;
}
.team-paragraph {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  justify-content: center;
  padding: 15px 10px 30px;
  margin: auto;
}

.p1,
.p2 {
  color: #54585a;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px;
}
.p2 {
  padding-bottom: 45px;
}
.tips-container {
  background-color: #f7f7f7;
  color: #54585a;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-section {
    position: relative;
  }
  .team-title,
  .team-subtitle {
    padding: 45px 0 15px 0;
  }
  .team-paragraph {
    padding: 15px 30px 60px;
  }

  .p1,
  .p2 {
    text-align: center;
    justify-content: center;
    padding: 0 15px 45px 15px;
  }
  .tips-container {
    display: flex;
  }

  .navbar {
    display: flex;
  }

  .nav-sections {
    width: 60%;
    height: 60px;
    justify-content: flex-end;
    padding-right: 45px;
  }

  .team-name {
    width: 40%;
    background-color: #099D8D;
  }

  .title-nav {
    margin-left: 45px;
  }

  .nav-sections a {
    margin-left: 45px;
  }
}
@media screen and (min-width: 1201px) {
  .team-title,
  .team-subtitle {
    padding: 45px 0 15px 0;
  }
  .team-paragraph {
    padding: 15px 30px 30px 30px;
    width: 601px;
  }

  .p1,
  .p2 {
    text-align: center;
    justify-content: center;
    padding: 0 22.5px 60px 22.5px;
  }
  .tips-container {
    display: flex;
  }
}
